:root{
    --font-size-tiny: 0.6rem;
    --font-size-smallest: 0.7rem;
    --font-size-smaller: 0.8rem;
    --font-size-small: 0.9rem;
    --font-size-normal: 1rem;
    --font-size-large: 1.25rem;
    --font-size-larger: 1.5rem;
    --font-size-largest: 1.75rem;
    --font-size-extra: 2rem;
}