#ChangePassword{
    width: 100%;
    height: 100%;
    animation: FadeIn 1.5s;
    background-color: transparent;
    position: relative;
    padding: 7rem 2.5rem 0 2.5rem;
    position: relative;
}
@media all and (min-width: 1024px){
    #ChangePassword{
        padding: 7rem 0 0 15%;
    }
    #ChangePassword>*{
        max-width: 22rem;
    }
}
#ChangePassword>p.Goback{
    position: absolute;
    top: 3rem;
    font-weight: 600;
}
#ChangePassword>p.Goback>i{
    margin-right: 1.5rem;
}
#ChangePassword button.Goback{
    display: none;
}
@media all and (min-width: 1024px){
    #ChangePassword>p.Goback{
        display: none;
    }
    #ChangePassword button.Goback{
        width: 4rem;
        display: inline-block;
        text-align: center;
        position: absolute;
        left: calc(15% - 5rem);
    }
}
#ChangePassword>img{
    display: block;
    height: 3rem;
    margin-bottom: 2rem;
}
#ChangePassword>p{
    text-align: left;
}
#ChangePassword>p.Title{
    font-size: var(--font-size-extra);
    margin-bottom: 2.5rem;
}
#ChangePassword button{
    margin-top: 2rem;
}
#ChangePassword>form>p.AuthError{
    color: var(--color-red-normal);
    font-weight: 500;
    text-transform: uppercase;
}